footer {
    background-color: $theme-color;
    font-size: 20px;
    font-family: "Montserrat";
    color: rgb(255, 255, 255);
    line-height: 1.2;
    padding: 20px 0;

    .copyright {

    }

    .dev {
        float: right;

        a {
            color: #fff;
        }
    }
}