.breadcrumb {
	background-color: transparent;

	.breadcrumb-item {
		font-size: 14px;
		font-family: "Montserrat";
		color: rgb(133, 133, 133);
		line-height: 1.714;
		text-align: left;
	}
}
.breadcrumb-item+.breadcrumb-item::before {
	content: ">";
}