.select-hidden {
  display: none;
  visibility: hidden;
  padding-right: 10px;
}

.select {
  cursor: pointer;
  display: inline-block;
  position: relative;
  font-size: 16px;
  color: #fff;
  width: 97.5%;
  height: 40px;
  left: 12px;
  border-bottom: 1px solid rgb(169, 169, 169);
}

.select-styled {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: transparent;
  padding: 8px 15px;
  transition: all 0.2s ease-in;
  color: rgb(133, 133, 133);

  &:after {
    content: "";
    width: 0;
    height: 0;
    border: 7px solid rgb(133, 133, 133);
    border-color: rgb(133, 133, 133) transparent transparent transparent;
    position: absolute;
    top: 18px;
    right: 10px;
  }
  &:hover {
    background-color: $theme-color;
  }
}
.select-styled:active, .select-styled.active {
  background-color: $theme-color;
}
.select-styled:active:after, .select-styled.active:after {
  top: 9px;
  border-color: transparent transparent #fff transparent;
}

.select-options {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;
  z-index: 999;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: $theme-color;
}
.select-options li {
  margin: 0;
  padding: 10px 0;
  text-indent: 15px;
  border-top: 1px solid rgb(169, 169, 169);
  -moz-transition: all 0.15s ease-in;
  -o-transition: all 0.15s ease-in;
  -webkit-transition: all 0.15s ease-in;
  transition: all 0.15s ease-in;
}
.select-options li:hover {
  color: $theme-color;
  background: #fff;
}
.select-options li[rel="hide"] {
  display: none;
}